<div class="training-card" [class.grayscale]="hasStarted" (click)="onViewClients()"
  [style.--header-color]="colors.header" [style.--background-color]="colors.background"
  [style.--text-color]="colors.text" [style.--time-background-color]="colors.timeBackground">
  <div *ngIf="durationInMinutes <= 15" class="training-card__inner training-card__inner--short">
    <div class="time">
      <span>{{ training().startTime | date:'HH:mm' }}</span>
      <span>{{ training().endTime | date:'HH:mm' }}</span>
    </div>
    <div class="name" [title]="training().trainingName">{{ training().trainingName }}</div>
    <div class="occupancy">
      <span>{{ training().registrationsCount }}</span>
      <span class="separator"></span>
      <span>{{ training().capacity }}</span>
    </div>
  </div>

  <div *ngIf="durationInMinutes > 15 && durationInMinutes <= 30"
    class="training-card__inner training-card__inner--medium">
    <div class="training-card__header">
      <h3 class="name" [title]="training().trainingName">{{ training().trainingName }}</h3>
    </div>
    <div class="training-card__body">
      <div class="row">
        <tui-badge class="time-badge">{{ training().startTime | date:'HH:mm' }}-{{
          training().endTime | date:'HH:mm'
          }}</tui-badge>
        <tui-badge class="badge" [ngClass]="'badge__'+occupancyColorClass">
          {{ training().registrationsCount }} из {{ training().capacity }}
        </tui-badge>
      </div>
    </div>
  </div>

  <div *ngIf="durationInMinutes > 30" class="training-card__inner training-card__inner--long">
    <div class="training-card__header">
      <h3 class="name" [title]="training().trainingName">{{ training().trainingName }}</h3>
      <button *ngIf="!hasStarted" (click)="onEdit($event)" appearance="flat" iconStart="@tui.pen-line" size="xs"
        tuiIconButton type="button" class="edit-button">
      </button>
    </div>
    <div class="training-card__body">
      <div class="row">
        <tui-badge class="time-badge">{{ training().startTime | date:'HH:mm' }}-{{
          training().endTime | date:'HH:mm'
          }}</tui-badge>
        <tui-badge class="badge" [ngClass]="'badge__'+occupancyColorClass">
          {{ training().registrationsCount }} из {{ training().capacity }}
        </tui-badge>
      </div>

      <div *ngIf="training().coaches.length > 0" class="coach">
        <ng-container *ngFor="let coach of training().coaches; let isLast = last">
          <span>{{ coach.fullName }}</span><span *ngIf="!isLast">, </span>
        </ng-container>
      </div>

      <div *ngIf="durationInMinutes >= 90 && training().hall?.name" class="location">
        <span>{{ training().hall.name }}</span>
      </div>
    </div>
  </div>
</div>