<div class="schedule-grid__container" [style.--slot-height]="slotHeight" [style.--slot-margin]="'2px'">
  <div class="schedule-grid__wrapper">
    <div class="schedule-grid__header-wrapper">
      <div class="schedule-grid__header">
        <div class="schedule-grid__corner"></div>
        <div #header class="schedule-grid__header-scroll scrollbar-hide" (scroll)="onScrollSync($event, gridContainer)">
          <div class="schedule-grid__header-days">
            <div *ngFor="let day of days()" class="schedule-grid__day-header">
              <div class="schedule-grid__day-date">
                {{ day.date | date:'dd.MM' }}
              </div>
              <div class="schedule-grid__day-name">{{ day.date | date: 'EEE' | titlecase }} </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="schedule-grid__content-wrapper">
      <div class="schedule-grid__content">
        <div #timeColumn class="schedule-grid__time-column scrollbar-hide"
          (scroll)="onScrollSync($event, undefined, gridContainer)">
          <div *ngFor="let slot of timeSlots; let index = index" class="schedule-grid__time-slot">
            <span class="schedule-grid__time-label">
              {{ slot.label }}
            </span>
          </div>
        </div>

        <div #gridContainer class="schedule-grid__grid-container" (scroll)="onScrollSync($event, header, timeColumn)">
          <div class="schedule-grid__grid-scroll">
            <div *ngFor="let day of days(); let dayIndex = index" class="schedule-grid__day-column">
              <div *ngFor="let slot of timeSlots; let slotIndex = index" class="schedule-grid__slot"></div>

              <div *ngFor="let layout of allLayouts()[dayIndex] || []" class="schedule-grid__training-layout"
                [style.--level]="layout.level" [style.--index]="layout.index"
                [style.top]="`calc(${layout.top}px * var(--slot-height) + var(--slot-margin))`"
                [style.height]="`calc(${layout.height}px * var(--slot-height) - 2 * var(--slot-margin))`"
                [style.z-index]="layout.zIndex">
                <app-training-card [training]="layout.spot" (edit)="onEditTraining($event)"
                  (viewClients)="onViewClients($event)"></app-training-card>
              </div>
            </div>

            <app-current-time-line [position]="currentTimePosition()"></app-current-time-line>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>